{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "auto",
  "javascript.format.insertSpaceAfterFunctionKeywordForAnonymousFunctions": false,
  "javascript.format.insertSpaceBeforeFunctionParenthesis": false
}
